<!DOCTYPE html>
<html lang="en">
  <head>
      <title>Project testing</title>
  </head>
  <body>
    <h1>test</h1>
    <video id="streaming" width="300" controls></video>
  </body>
  <script src="bundle.js"></script>
</html>